<!doctype html>
<html ng-app="Monitor">
	<head>
		 <script src="angular.min.js"></script>
		 <script src="monitor.js"></script>
	</head>
	<body ng-controller="MonitorController as mcontrol">
		<div ng-repeat="usuario in mcontrol.usuarios">
			{{usuario.nome}} - {{usuario.idade}}
		</div>

		<form ng-controller="UsuarioController as uc"
			  ng-submit="uc.addUsuario(mcontrol.usuarios)">
			Nome
			<input type="text" ng-model="uc.newUser.nome"/>
			Idade
			<input type="text" ng-model="uc.newUser.idade"/>
			<input type="submit" value="Enviar" />
			{{uc.nome}}
		</form>

	</body>
</html>